<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>           <string>com.gigaton.mkb-gcs-backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>cd $HOME/Documents/GitHub/master-knowledge-base &amp;&amp; ./scripts/mkb_gcs_backup.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>GCS_BUCKET</key>    <string>gs://gigaton-mkb-backup</string>
    <key>RETAIN_DAYS</key>   <string>90</string>
    <key>PATH</key>          <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>          <integer>2</integer>
    <key>Minute</key>        <integer>30</integer>
  </dict>
  <key>StandardOutPath</key> <string>/Users/admin/.knowledge_sync/mkb-gcs-backup.out.log</string>
  <key>StandardErrorPath</key><string>/Users/admin/.knowledge_sync/mkb-gcs-backup.err.log</string>
  <key>RunAtLoad</key>       <false/>
</dict>
</plist>
